

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-inner {
    padding: 20px;
    width: 50%;
    height: auto;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
}

.close-modal {
    position: absolute;
    top: 0px;
    right: 0px;
}

.modal-heade {
    margin: 0 0 20px;
}

.open {
    display: flex;
}